<?xml version="1.0" ?>
<conf>

   <variable>
<name>var1</name>
<description>Document type</description>
    <option>All</option>
     <option>Evaluation study</option>
     <option>Presentation</option>
     <option>Project</option>
     <option>Unknown</option>
 </variable>
   <variable>
<name>var2</name>
<description>Thematic Objectives</description>
    <option>All</option>
     <option>1. Strengthening research, technological development and innovation</option>
     <option>2. Enhancing access to, and use and quality of, information and communication technologies</option>
     <option>3. Enhancing the competitiveness of small and medium-sized enterprises</option>
     <option>4. Supporting the shift towards a low-carbon economy in all sectors</option>
     <option>5. Promoting climate change adaptation, risk prevention and management</option>
     <option>6. Protecting the environment and promoting resource efficiency</option>
     <option>7. Promoting sustainable transport and removing bottlenecks in key network infrastructures</option>
     <option>8 . Promoting employment and supporting labour mobility</option>
     <option>9. Promoting social inclusion and combating poverty</option>
     <option>10. Investing in education, skills and lifelong learning</option>
     <option>11. Enhancing institutional capacity and an efficient public administration</option>
 </variable>
   <variable>
<name>var3</name>
<description>Geographic Area</description>
    <option>All</option>
     <option>Italy</option>
     <option>Spain</option>
     <option>France</option>
     <option>Germany</option>
     <option>Luxembourg</option>
     <option>Belgium</option>
     <option>The Netherlands</option>
     <option>Switzerland</option>
     <option>Austria</option>
     <option>United Kingdom</option>
     <option>Poland</option>
     <option>Greece</option>
     <option>Ireland</option>
     <option>Portugal</option>
     <option>Bulgaria</option>
     <option>Hungary</option>
     <option>Romania</option>
     <option>Latvia</option>
     <option>Unknown</option>
 </variable>
   <variable>
<name>var4</name>
<description>Operating Areas</description>
    <option>All</option>
     <option>URBAN REGENERATION</option>
     <option>Urban Regeneration: High deprivation area</option>
     <option>Urban Regeneration: Post-industrial and post military areas</option>
     <option>Urban Regeneration: Protection/re-use of historic/cultural assets</option>
     <option>Urban Regeneration: Other</option>
     <option>URBAN INFRASTRUCTURE</option>
     <option>Urban Infrastructure: Mobility and accessibility</option>
     <option>Urban Infrastructure: Utilities</option>
     <option>Urban Infrastructure: Community facilities and amenities</option>
     <option>Urban Infrastructure: Education (not just schools)</option>
     <option>Urban Infrastructure: Hospitals</option>
     <option>Urban Infrastructure - Care</option>
     <option>Urban Infrastructure: Housing  (affordable and social)</option>
     <option>Urban Infrastructure: Other</option>
     <option>ENERGY</option>
     <option>Energy: Energy efficiency</option>
     <option>Energy: Renewable energy</option>
     <option>Energy: District heating</option>
     <option>Energy - Other</option>
     <option>BUSINESS ENVIRONMENT</option>
     <option>Business environment: Research, innovation and Development</option>
     <option>Business environment: Business incubation units</option>
     <option>Business environment: Science and Technology Parks</option>
     <option>Business environment: SME support infrastructure</option>
     <option>Business environment: Other</option>
 </variable>
   <variable>
<name>var5</name>
<description>Market Failures</description>
    <option>All</option>
     <option>No Market Failure</option>
     <option>Externalities</option>
     <option>Imperfect and asymmetric information</option>
     <option>Coordination problems</option>
     <option>Equity considerations</option>
     <option>Unkown</option>
 </variable>
   <variable>
<name>var6</name>
<description>State Aid</description>
    <option>All</option>
     <option>No</option>
     <option>Yes</option>
     <option>Unknown</option>
 </variable>
   <variable>
<name>var7</name>
<description>Financial options</description>
    <option>All</option>
     <option>Loans</option>
     <option>Equity</option>
     <option>Guarantees</option>
     <option>Grant Financing</option>
     <option>Commercial Financing</option>
     <option>Unknown</option>
 </variable>
   <variable>
<name>var8</name>
<description>Period</description>
    <option>All</option>
     <option>2007-2013</option>
     <option>2014-2020</option>
 </variable>
   <variable>
<name>var9</name>
<description>Region type</description>
    <option>All</option>
     <option>Converging</option>
     <option>Competitive</option>
 </variable>
</conf>

