<?xml version="1.0" ?>
<conf>

   <variable>
<name>var1</name>
<description>Document type</description>
    <option>All</option>
     <option>Evaluation study</option>
     <option>Presentation</option>
     <option>Project</option>
     <option>Unknown</option>
 </variable>
   <variable>
<name>var2</name>
<description>Operational Area</description>
    <option>All</option>
     <option>Urban Development</option>
     <option>Urban Regeneration</option>
     <option>Energy Efficiency</option>
     <option>Unknown</option>
 </variable>
   <variable>
<name>var3</name>
<description>Geographic Area</description>
    <option>All</option>
     <option>Italy</option>
     <option>Spain</option>
     <option>France</option>
     <option>Germany</option>
     <option>Luxembourg</option>
     <option>Belgium</option>
     <option>The Netherlands</option>
     <option>Switzerland</option>
     <option>Austria</option>
     <option>United Kingdom</option>
     <option>Poland</option>
     <option>Greece</option>
     <option>Ireland</option>
     <option>Portugal</option>
     <option>Bulgaria</option>
     <option>Hungary</option>
     <option>Romania</option>
     <option>Latvia</option>
 </variable>
   <variable>
<name>var4</name>
<description>Financial options</description>
    <option>All</option>
     <option>Loans</option>
     <option>Equity</option>
     <option>Guarantees</option>
     <option>Grant Financing</option>
     <option>Commercial Financing</option>
     <option>Unknown</option>
 </variable>
   <variable>
<name>var5</name>
<description>Market Failures</description>
    <option>All</option>
     <option>No Market Failure</option>
     <option>Externalities</option>
     <option>Imperfect and asymmetric information</option>
     <option>Coordination problems</option>
     <option>Equity considerations</option>
     <option>Unkown</option>
 </variable>
   <variable>
<name>var6</name>
<description>State Aid</description>
    <option>All</option>
     <option>No</option>
     <option>Yes</option>
     <option>Unknown</option>
 </variable>
   <variable>
<name>var7</name>
<description>Period</description>
    <option>All</option>
     <option>2007 - 2013               </option>
     <option>2014 - 2020               </option>
     <option>Unknown</option>
 </variable>
   <variable>
<name>var8</name>
<description>Thematic Objectives</description>
    <option>All</option>
     <option>Enhancing access to and use and quality of information and communication technologies</option>
     <option>Enhancing institutional capacity and an efficient public administration</option>
     <option>Enhancing the competitiveness of small and medium-sized enterprises, the agricultural sector and fisheries</option>
     <option>Investing in education, skills and lifelong learning</option>
     <option>Promoting employment and supporting labour mobility</option>
     <option>Promoting social inclusion and combating poverty</option>
     <option>Promoting sustainable transport and removing bottlenecks in key network infrastructures</option>
     <option>Protecting the environment and promoting resource efficiency</option>
     <option>Strengthening research, technological development and innovation</option>
     <option>Supporting the shift towards a low-carbon economy</option>
     <option>Promoting Climate change adaptation, risk prevention and management</option>
 </variable>
</conf>

